.Skills {
    height: 750px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SkillDetails {
    width: 40%;
}

.CloudSkill {
    height: 100%;
    width: 40%;
}

.SkillTitle {
    font-size: 3rem;
    color: aqua;
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    .Skills {
        padding-top: 80px;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 90%;
    }

    .SkillDetails {
        width: 100%;
    }
    
    .CloudSkill {
        height: 600px;
        width: 100%;
    }
}