.About {
    height: 750px;
    width: 60%;
    padding-top: 80px;
}

.AboutTitle {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutContents {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.ImageContainer {
    height: 300px;
    width: 300px;
}

.Dp {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
}

.DpShadow1 {
    margin-left: 10px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid aqua;
}

.DpShadow2 {
    margin-left: 12px;
    margin-top: 12px;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid aqua;
}

.DpCover {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background: aqua;
    opacity: 0.1;
    position: absolute;
}

.Intro {
    width: 50%;
    font-size: 1rem;
    font-family: 'papyrus';
}

.Highlight {
    display: inline-block; 
    color: aqua; 
}

.HorizontalLine {
    height: 1px;
    width: 100px;
    background: aqua;
}

.AboutTitleText {
    padding: 15px;
    font-size: 2rem;
    color: aqua;
}

@media screen and (max-width: 992px) {
    .About {
        width: 90%;
        height: 850px;
    }

    .AboutTitle {
        height: 10%;
    }

    .Intro {
        width: 100%;
    }

    .AboutContents {
        flex-direction: column;
        align-items: center;
    }
}