.Home {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Images/box.gif");
    background-attachment: fixed;
    background-size:cover;
}

.HomeImage {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeText {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LargeText {
    padding-top: 20px;
    font-size: 3rem;
    text-shadow: 2px 2px 4px black;
    font-family: 'Montserrat', sans-serif;
    color: #ccd6f6;
}

.LargeMediumText {
    height: 30px;
    padding-top: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px black;
    font-family: 'Montserrat', sans-serif;
    color: #8892b0;
}

.MediumText {
    padding-top: 40px;
    font-size: 1rem;
    width: 80%;
    text-align: center;
}

.ResumeBtn {
    height: 60px;
    width: 200px;
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 8px aqua;
    border-radius: 5px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: aqua;
}

.ResumeBtn:hover {
    background-color: #014b43;
}

.TextCursor {
    height: 45px;
    width: 2px;
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 8px aqua;
    color: aqua;
    background-color: #014b43;
}

.HelloText {
    color: aqua;
}

@media screen and (max-width: 1100px) {
    .Home {
        height: 750px;
        flex-direction: column;
    }

    .HomeText {
        height: 70%;
        width: 100%;
        align-items: center;
    }

    .TextCursor {
        height: 23px;
    }

    .HomeImage {
        height: 30%;
        width: 100%;
    }

    .LargeText {
        font-size: 1.5rem;
    }

    .LargeMediumText {
        font-size: 1.2rem;
    }

    .ResumeBtn {
        font-size: 1rem;
    }
}