.Contact {
    width: 60px;
    height: 310px;
    left: 30px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* background-color: black; */
}

.Link {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.Link:hover {
    width: 48px;
    height: 48px;
    border: 1px solid aqua;
}

.line {
    margin-top: 20px;
    height: 100px;
    background: whitesmoke;
    width: 1px;
}

.Email {
    width: 60px;
    height: 220px;
    right: 30px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.EmailText {

    transform: rotate(-90deg);

    /* Safari */
    -webkit-transform: rotate(-90deg);
  
    /* Firefox */
    -moz-transform: rotate(-90deg);
  
    /* IE */
    -ms-transform: rotate(-90deg);
  
    /* Opera */
    -o-transform: rotate(-90deg);
}

@media screen and (max-width: 992px) {
    .Contact {
        display: none;
    }

    .Email {
        display: none;
    }
}